{% extends "layout.html" %}

{% block title %}
Leaderboard
{% endblock %}

{% block main %}
<div class="container py-5">
    <h2>Leaderboard</h2>
    <select name="select-comp" id="select-comp">
        <option value="" selected disabled hidden>Select comp</option>
        {% for item in comps %}
            <option value={{ item }}>{{ item }}</option>
        {% endfor %}
    </select>

    <input type="text" id="search-bar" onkeyup="searchFunction()" placeholder="Search name..." disabled>

    <div id="addtable">
        
    </div>
</div>


<script type="text/javascript">
    let data = {{ table | safe }}
    
    function filterData(compName) {
        let newData = []
        console.log(compName)
        console.log(data)
        data.forEach((value, index, array) => {
            if (value.filter(i => i == compName).length == 1) {
                newData.push(value)
            }
        })
        return newData
        // console.log(filteredData)
    }

    var dropdown = document.getElementById("select-comp");

    let x = dropdown.addEventListener("change", () => {
        let compName = dropdown.options[dropdown.selectedIndex].text;
        filteredData = filterData(compName)
        addTable(filteredData, compName)
    })

    function addTable(filteredData, name) {
        var c, r, t;

        // Enable the search bar
        document.getElementById("search-bar").disabled = false;

        t = document.createElement('table');
        t.setAttribute('id','leaderboard-table');

        // Remove old table
        var addT = document.getElementById("addtable")
        if (addT.firstChild != null){
            addT.removeChild(addT.firstChild);
        }

        // Create the new table
        for (i in filteredData) {
            if (filteredData[i][2] != 0) {
                r = t.insertRow(0); 
                c = r.insertCell(0);
                c.innerHTML = '<a id="profile-link" href="/profile/' + filteredData[i][0] + '">' + filteredData[i][0] + '</a>';

                c = r.insertCell(1);
                c.innerHTML = filteredData[i][1];

                c = r.insertCell(2);
                c.innerHTML = filteredData[i][2]; 
            }
        }

        // CREATE TABLE HEADERS
        var header = t.createTHead();
        r = header.insertRow(0);
        // Username
        c = r.insertCell(0);
        c.setAttribute('onclick','sortTable(0)');
        c.setAttribute('id','clickable-heading');
        c.innerHTML = "<b>Username</b>";
        // Competition
        c = r.insertCell(1);
        c.setAttribute('onclick','sortTable(1)');
        c.setAttribute('id','clickable-heading');
        c.innerHTML = "<b>Competition</b>";
        // Score
        c = r.insertCell(2);
        c.setAttribute('onclick','sortTable(2)');
        c.setAttribute('id','clickable-heading');
        c.innerHTML = "<b>Score</b>";

        document.getElementById("addtable").appendChild(t);
    }

    function sortTable(n) {
        //console.log("Table being sorted... (WIP)" + n)
    }

    function searchFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search-bar");
        filter = input.value.toUpperCase();
        table = document.getElementById("leaderboard-table");
        tr = table.getElementsByTagName("tr");
      
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 1; i < tr.length; i++) { // i = 1 to skip Header row
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }

</script>


{% endblock %}